@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
  background-color: "#222831";
  font-family: "Kaisei Decol";
  color: "#FFD369";
}

.slide {
  padding-top: 40px;
  height: 400px;
  /* background-color: brown; */
}
.slide img {
  transition: transform 0.5s ease;
}
.active img {
  transform: scale(1);
}
.inactive img {
  transform: scale(0.8);
}


.black-bg {
  background-color: #222831;
}
.black-light-bg {
  background-color: #393E46;
}
.yellow-bg {
  background-color: #FFD369;
}
.white-bg {
  background-color: #EEEEEE;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards; /* Animation duration of 1 second */
}

.border-custom {
    border-width: 1px;
}
